.venv

AGENTS.MD

dataset/

/report/

__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

.ipynb_checkpoints/

.env
.env.*

.idea/
.vscode/
*.swp
.DS_Store

wandb/
mlruns/
runs/
checkpoints/
*.pt
*.pth
*.ckpt
*.safetensors
*.bin

/logs/
/hw1/results/
*.w2v

*.aux
*.log
*.out
*.toc
*.bcf
*.blg
*.bbl
*.fls
*.fdb_latexmk
*.run.xml
*.xdv
*.synctex.gz
